<div id="game-container">
   <header>
      <div id="red_player" class="players">?</div>
      <div id="blue_player" class="players">?</div>
      <div id="green_player" class="players">?</div>
      <div id="yellow_player" class="players">?</div>
      <label class="switch" id="be-ready-switch">
         <input type="checkbox" id="be-ready-input">
         <span class="slider round"></span>
      </label>
      <span id="be-ready-span">Niegotowy</span>

      <button class="submit-button" id="exit-button">Wyjdź</button>
   </header>
   <div id="canvas-content">
      <canvas height="600" width="1000"></canvas>
   </div>
</div>