<div id="input-name-container">
   <div id="name-div">
      <span id="name-span"> Wpisz swój nick:</span>
      <input type="text" maxlength="13" id="input-name">

      <button class="submit-button" id="random-button">Szybka Gra</button>
   </div>
   <div id="rooms-container">
      <div id="column-names">
         <div id="id-name" class="selected">ID</div>
         <div class="red_player-name">czerwony</div>
         <div class="blue_player-name">niebieski</div>
         <div class="green_player-name">zielony</div>
         <div class="yellow_player-name">żółty</div>
         <div><button class="submit-button" id="create-room-button">Nowy pokój</button></div>
      </div>

      <span id="rooms-span">

      </span>

   </div>
</div>